@model Category
@{
  
    int counter = 1;
}
<div class="row justify-content-between">
    <div class="col-lg-2">
        <h1 class="h3 mb-4 text-gray-800">@Model.Name Category Detail Page</h1>
    </div>

    <div class="col-lg-1">
        <a asp-area="manage" asp-controller="category" asp-action="index" class="btn btn-primary">Go Home</a>
    </div>
</div>

<div class="row">
    <div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="~/assets/images/@Model.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Products.Count()</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        №
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Product Count
                    </th>
                    <th>
                        Created at
                    </th>
                    <th>
                        Updated at
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Category category in Model.Children)
                {
                <tr>
                    <td>
                        @counter
                    </td>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.Products?.Count()
                    </td>
                    <td>
                        @category.CreatedAt?.ToString("dd/mm/yyyy")
                    </td>
                    <td>
                        @category.UpdatedAt?.ToString("dd/mm/yyyy")
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-area="manage" asp-controller="category" asp-action="update" asp-route-id="@category.Id">Update</a>
                        <a class="btn btn-danger" asp-area="manage" asp-controller="category" asp-action="delete" asp-route-id="@category.Id">Delete</a>
                        <a class="btn btn-primary" asp-area="manage" asp-controller="category" asp-action="ShowDetail" asp-route-id="@category.Id">Detail</a>
                    </td>
                </tr>
                    counter++;
                }
            </tbody>
        </table>

    </div>
</div>